*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
} 
p{
    color: rgb(255, 255, 255);
}
label{
    color: #fff;
}

a{
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.contenedor-calculadora{
    width: 90%;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin: 50px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.metros2 label{
    padding-top:17px;
}


.metros2 input[type="number"],
.metros2 textarea{
    width: 183px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: 1px solid rgba(153, 153, 153, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: 0; 
    background-color: rgba(58, 58, 58, 0.521);
    -webkit-appearance: none;
    justify-content: center;
}

.metros2{
    background: #f2f2f200;
    padding: 10px 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    
}



.resultado-techo p{
    display: inline-block;
    background: #0da6cc88;
    text-align: center;
    color: #fff;
    padding: 12px 40px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.46);
}

.resultado-techo span{
    font-weight: 800;
    color: #ffffff;

}

.cont-botones-aregados i{
    color: #fff;
}

.cont-botones-aregados span{
    color: #fff;
    display: inline;
}

.cont-botones-aregados input{
    display: grid;
    grid-template-columns: 300px 400px;
    background: #14abec00;
    text-align: center;
    border: none;
    color: #fff;
    padding: 6px 0px;
    margin-top: 30px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(20, 171, 236, 0);
    transition: .5s;
}


.cont-botones-aregados input:hover{
    display: grid;
    grid-template-columns: 300px 400px;
    background: rgba(20, 171, 236, 0.515);
    text-align: center;
    border: none;
    color: #fff;
    padding: 6px 0px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(20, 171, 236, 0.76);
    transition: .5s;
}


.logo-wsp-nav{
        text-decoration: none;
}

.cont-resultado-agregado{
    background-color: #4640408c;
    padding: 20px 15px;
    margin-top: 15px;
}
 
.contenedor-agregados{
    border: none;
    margin: 28px 50px 0px 0px;
    width: 150px;
    display: inline-block;
    background: #14abec00;
    text-align: center;
    color: #fff;
    padding: 12px 4px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    transition: .5s;
}

.cont-botones input{
    border: none;
    margin: 28px 50px 0px 0px;
    width: 150px;
    display: inline-block;
    background: #14abec00;
    text-align: center;
    color: #fff;
    padding: 12px 4px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    transition: .5s;
}

.cont-botones input:hover{
    /* background-color: #1a9ddc;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 40px;
    border-radius: 9px;
    font-weight: 600;
    display: inline-block;
    padding: 5px 8px;
    border-color: none; */
    border: none;
    margin: 28px 45px 0px 0px;
    width: 150px;
    display: inline-block;
    background: rgba(20, 171, 236, 0.515);
    text-align: center;
    color: #fff;
    padding: 12px 4px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0px 0px 32px rgba(20, 171, 236, 0.815);
}


h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor2{
    width: 90%;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin: 50px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.contenedor2 h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #1a9ddc;
}

.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.contenido .info, 
.contenido .formulario{
    width: 50%;
}

.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    flex-wrap: nowrap;
}

.info .col .icono{
    color: #1a9ddc;
    margin-right: 10px;
}

.info .col p{
    color: #999;
    line-height: 24px;
}

.info .redes-s{
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}

.info .redes-s a{
    display: flex;
    width: 40px;
    height: 40px;
    background:#1a9ddc;
    color: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .5);
}

.info .redes-s a:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .5);
    background: #12506d;
}

.formulario{
    padding: 10px;
}

.formulario input[type="text"],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: 0;
}

.formulario input[type="email"],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: 0;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
    
}

.formulario input[type="text"]:focus,
.formulario textarea:focus{
    border: 2px solid #1a9ddc;
}

.formulario button{
    padding: 12px 30px;
    border: transparent;
    background: #1a9ddc;
    color:  #fff;
    cursor: pointer;
    float: right;
}

.formulario .boton{
    padding: 12px 30px;
    border: transparent;
    background: #1a9ddc;
    color: #fff;
    cursor: pointer;
    float: right;
}


.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0px;
}



h1{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

/*header*/

header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}

header{
	width: 100%;
	height: 615px;
	background: #f3f3f3;
	background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.801), hsla(219, 11%, 24%, 0)), url(../img/portada-techo-poli.jpg);
	background: linear-gradient(to right, hsl(0, 0%, 0%), hsla(219, 11%, 24%, 0)), url(../img/portada-techo-poli.jpg);
	background-size: cover;
    background-attachment: fixed;
	background-attachment: fixed;
	position: relative;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0px 40px;
}

.nav .logo{
    height: 80px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.enlaces-header{
    font-weight: 400;
    transition: ease-in-out 0.5s;
}


.nav .enlaces-header a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
    border-bottom: 2px solid #108efc25;
    transition: .5s;
}

.nav .enlaces-header a:hover{
    border-bottom: 2px solid #108efc;
    font-size: 16.8px;
    transition: .5s;
}


.hamburger{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburger > i{
    font-size: 25px;
    line-height: 80px;
}

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header > img{
    width: 550px;
    animation: ease-in animat 0.5s;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}


.textos-header{
    margin: 0px 0px 0px 30px;
}

.contenido-header p{
    font-weight: 400;
    font-size: 30px;
    margin-top: 14px;
    color: #fff;
}

.contenido-header a{
    margin: 28px 0px 0px 0px;
    width: 130px;
    display: inline-block;
    background: #14adec;
    text-align: center;
    color: #fff;
    padding: 12px 0px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(20,173,236, .46);
}

.titulo{
    font-size: 50px;
}


/* footer */

footer{
    background: #f2f2f2;
    padding: 60px 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.texto-final{
    background-color: #f2f2f2;
}

.texto-final hr{
    margin: 0px 30px 20px;
}

.texto-final p{
    margin: 0px 10px;
    padding: 20px;
    font-weight: 500;
    color: black;
}

.texto-final span{
    color: hsla(212, 73%, 67%, 0.801);

}

.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color: #2c9bed;
}

.partFooter img{
    width: 70%;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #8b9195;
    border: 1px solid #8b9195;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #2c9bed;
    border-color: #2c9bed;
}

/* Responsive */

@media screen and (max-width:800px){
     .titulo{
         font-size: 45px;
     }

     .contenedor2{
         padding: 40px 20px;
     }

     .contenido .info,
     .contenido .formulario{
         width: 100%;
         padding: 0px;
     }

     .contenido .info{
         margin-bottom: 30px;
     }

     .contenido-header{
         flex-direction: column;
         justify-content: space-evenly;
         height: 720px;
     }

     .contenido-header img{
         width: 400px;
     }

     .textos-header{
         margin: 0;
     }

     /* About-US */

     .articulo{
         width: 45%;
     }

     /* Questions */

     .question{
         height: 720px;
         justify-content: space-evenly;
         flex-direction: column;
     }

     .question>img{
         width: 400px;
     }

     /* results */

     .content-results{
         flex-direction: column-reverse;
     }

     .results-text>a{
         margin-bottom: 60px;
     }

     .numbers{
         width: 100%;
     }

     .results-text{
         width: 100%;
     }

     /* services */

     .services{
         flex-direction: column-reverse;
         align-items: center;
     }

     .box-skills{
         margin: 0px 0px 40px 0px;
     }

     .box-skills>h4{
         width: 50px;
     }

     .services>img{
         width: 400px;
     }

     /* footer */

     .footer{
         justify-content: space-evenly;
     }

     .partFooter{
         width: 40%;
         margin-bottom: 40px;
     }
}

@media screen and (max-width:600px){
    .titulo{
        font-size: 35px;
    }


    .h1{
        font-size: 40px;
    }

    .contenido-header{
        height: 650px;
    }

    .nav{
        padding: 0px 10px;
    }

    .contenido-header>img{
        width: 200px;
    }

    .enlaces-header{
        position: fixed;
        background: #000428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0)
    }

    .nav .enlaces-header a{
        color: #fff;
        font-size: 20px;
    }

    .hamburger{
        display: block;
    }



    /* footer */

    .partFooter{
        width: 95%;
        margin-bottom: 40px;
    }
}