*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #0004288e),  url(../img/img8.jpg); 
    background: linear-gradient(to right, #004e92, #00042870) , url(../img/img8.jpg); 
    background-size: cover;
}



h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0px;
}



h1{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

/*header*/

header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}

header{
	width: 100%;
	height: 0px;
	background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.801), hsla(219, 11%, 24%, 0)), url(../img/portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(0, 0%, 0%, 0.801), hsla(219, 11%, 24%, 0)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
    background-attachment: fixed;
	background-attachment: fixed;
	position: relative;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0px 40px;
}

.nav .logo{
    height: 80px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.enlaces-header{
    font-weight: 400;
    transition: ease-in-out 0.5s;
}


.nav .enlaces-header a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
    border-bottom: 2px solid #108efc25;
    transition: .5s;
}

.nav .enlaces-header a:hover{
    border-bottom: 2px solid #108efc;
    font-size: 16.8px;
    transition: .5s;
}

.hamburger{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburger > i{
    font-size: 25px;
    line-height: 80px;
}

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header > img{
    width: 550px;
    animation: ease-in animat 0.5s;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}


.textos-header{
    margin: 0px 0px 0px 30px;
}

.contenido-header p{
    font-weight: 400;
    font-size: 30px;
    margin-top: 14px;
    color: #fff;
}

.contenido-header a{
    margin: 28px 0px 0px 0px;
    width: 130px;
    display: inline-block;
    background: #14adec;
    text-align: center;
    color: #fff;
    padding: 12px 0px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(20,173,236, .46);
}

.titulo{
    font-size: 50px;
    font-weight: 500;
    color: white;
}

/*About us*/

.about-us{
    background: -webkit-linear-gradient(to right, hsl(0, 0%, 100%), hsla(0, 0%, 81%, 0.527)), url(../img/portada.jpeg);  
    background: linear-gradient(to right, hsl(253, 100%, 50%), hsla(0, 0%, 0%, 0.52)), url(../img/portada.jpeg);
    background-size: cover;
}


.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-top: 30px;
    border-radius: 20px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .4);
}

#art-techo-poli{
    background-image: url(../img/portada-techo-poli.jpg);
}

#art-techo-tabla{
    background-image: url(../img/techo-madera-art.jpg);
}

#art-techo-escondido{
    background-image: url(../img/techo-esco.jpg);
}

#art-techo-trans{
    background-image: url(../img/img-2.jpg);
}

#art-techo-inter{
    background-image: url(../img/chapa-intercalada.jpg);
}

#art-techo-chapa{
    background-image: url(../img/techo-chapa.jpg);
}

.articulo{
    width: 29%;
    background-size: cover;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 20px 60px 30px;
    transition:0.5s;
}

.articulo:hover{
    box-shadow: 0px 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i{
    font-size: 30px;
    color: #fff;
    background-color: rgba(109, 197, 255, 0.637);
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    
}

.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
}

.articulo>p{
    font-weight: 300;
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color:#ffffff;
    font-weight: 400;
    text-decoration: none;
    transition: color .5s;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .7);
}

.articulo>a:hover{
    color: #14adec;
    transition: color .5s;
}

/* Question */


.question{
    height: 615px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: rgba(0, 0, 0, .590);
}

.textos-question>h1{
    color: rgb(255, 255, 255);
}

.question > img{
    width: 550px;
}


.textos-question{
    margin: 0px 0px 0px 30px;
}

.textos-question p{
    font-weight: 300;
    margin-top: 14px;
    font-size: 17px;
    color: #ffffff;
}

.textos-question a{
    margin: 28px 0px 0px 0px;
    width: 130px;
    display: inline-block;
    background: #14adec;
    text-align: center;
    color: #fff;
    padding: 12px 0px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(20,173,236, .46);
}

/* Results */

.results{
    background: #2570ff;
    padding-top: 30px;
}

.content-results{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.results-text{
    width: 37%;
}

.results-text h4{
    color: #fff;
    font-size: 40px;
}

.results-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0px;
}

.results-text>a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
}

/* services */

.services{
    display: flex;
    justify-content: space-evenly;
}

.services>img{
    width: 500px;
}

.services>img:hover{
    transition: 3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .7);
}



.box-skills{
    margin: 30px 30px 0px 0px;
}

.box-skills h4{
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0px 10px 15px;
    margin-bottom: 10px;
}

.box-skills i{
    color: #14adec;
    font-size: 20px;
}

/* footer */

footer{
    background: #f2f2f2;
    padding: 60px 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.texto-final{
    background-color: #f2f2f2;
    
}

.texto-final hr{
    margin: 0px 30px 20px;
}

.texto-final p{
    margin: 0px 10px;
    padding: 20px;
    font-weight: 500;
}

.texto-final span{
    color: hsla(212, 73%, 67%, 0.801);

}
.texto-final a{
    text-decoration: none;
    background: #353535;
    color: rgb(255, 255, 255);
    padding: 5px 8px;
    float: right;
    border-radius: 5px;
    
}

.texto-final i{
    padding-right: 5px;
}

.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color: #2c9bed;
}

.partFooter img{
    width: 70%;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #8b9195;
    border: 1px solid #8b9195;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #2c9bed;
    border-color: #2c9bed;
}

/* Responsive */

@media screen and (max-width:800px){
     .titulo{
         font-size: 45px;
     }

     
     .contenido-header{
         flex-direction: column;
         justify-content: space-evenly;
         height: 720px;
     }

     .contenido-header img{
         width: 400px;
     }

     .textos-header{
         margin: 0;
     }

     /* About-US */

     .articulo{
         width: 45%;
     }

     /* Questions */

     .question{
         height: 720px;
         justify-content: space-evenly;
         flex-direction: column;
     }
     
     .question>img{
         width: 400px;
     }

     /* results */

     .content-results{
         flex-direction: column-reverse;
     }

     .results-text>a{
         margin-bottom: 60px;
     }

     .numbers{
         width: 100%;
     }

     .results-text{
         width: 100%;
     }

     /* services */
     
     .services{
         flex-direction: column-reverse;
         align-items: center;
     }

     .box-skills{
         margin: 0px 0px 40px 0px;
     }

     .box-skills>h4{
         width: 50px;
     }
     
     .services>img{
         width: 400px;
     }

     /* footer */

     .footer{
         justify-content: space-evenly;
     }

     .partFooter{
         width: 40%;
         margin-bottom: 40px;
     }
}

@media screen and (max-width:600px){
    .titulo{
        font-size: 35px;
    }

    
    .h1{
        font-size: 40px;
    }

    .contenido-header{
        height: 650px;
    }

    .nav{
        padding: 0px 10px;
    }

    .contenido-header>img{
        width: 200px;
    }

    .enlaces-header{
        position: fixed;
        background: #000428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0)
    }

    .nav .enlaces-header a{
        color: #fff;
        font-size: 20px;
    }

    .hamburger{
        display: block;
    }

    /* about-us */

    .articulo{
        width: 95%;
    }

    /* question */

    .question>img{
        width: 200px;
    }

    /* results */

    .numbers .number{
        width: 95%;
    }

    .results-text h4{
        font-size: 35px;
    }

    /* services */

    .services>img{
        width: 200px;
    }

    .box-skills h4{
        width: 100%;
    }

    /* footer */

    .partFooter{
        width: 95%;
        margin-bottom: 40px;
    }
}